
  <div id="beer-home">
    <img id="beer-home_img"src="/images/beer.png" alt="beer image"> 
  </div>

  <div id="buttons">
    <a href="/Beers">
      <button>
        Check the beers!
      </button>
    </a> 
    <a href="/Random">
      <button>
        Check a random beer!
      </button>
    </a>
  </div>
</div>
